.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.mainHeader {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

section {
  margin: 20px 0;
}

h1, h2 {
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
